@font-face { /* зареждане на външен шрифт - възможно е да не е инсталиран 'Monotype Corsiva'*/
    font-family: 'MonotypeCorsiva';
    src: url(files/FE2_HW4.ttf);
}

html {
    height: calc(100% - 20px);
}

html * { /* заради това че браузъра ползва различен шрифт за бутоните - при по-голям сайт е непрепоръчително !*/
	font-family: 'MonotypeCorsiva' !important;
	font-weight: bold;
}

body {
	height: 100%;
	background-color: #26A9E1;
	background-image: url('files/FE2_HW_4-3.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
	font-size: 1.3em ;
}

#mainDiv {
	height: 100%;
	border: 3px solid lightblue;
}

nav {
	background-color: darkblue;
	border: 1px solid #CCCCFF;
	color: white;
	height: 30px;
	text-align: center;
	border-radius: 0 0 15px;
	padding: 0 10px 0 0;
	transition: width 2s;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 22px;
	text-align: center;
	display: inline-block;
	border: 1px solid lightblue;
	background-color: #6666FF;
	border-radius: 0 0 10px 10px;
	height: 25px;
	width: 150px;
	transition: background-color 0.8s;  /* трябва да се добави -webkit-transition:* за съвместимост с Safari 3.1 to 6.0 */
}

nav a:hover { /* Настройка на hover на линковете в навигацията */
	background-color: #26A9E1;
	font-weight: bolder;
}

nav button {
	float: right;
	margin-top: 5px;
	background-color: lightblue;
	border-radius: 8px;
}

#secondNav { /* при 'затворена' навигация - default=hidden */
	display: none;
}

main {
	float: left;
	background-color: lightblue ;
	border: 2px solid darkblue;
	width: 65%;
	border-radius: 30px;
	margin: 30px 0 30px 30px;
	text-align: center;
}

main img {
	height: 150px;
}

@media screen and (min-width: 1281px) { /* за пригледност при разнични резолюций */
	main img {
		height: 170px;
	}
}

@media screen and (max-width: 1200px) {
	main {
		width: 55%;
	}
}

@media screen and (max-width: 860px) {
	body {
		width: 861px;
	}
}

#pagination {
	display: inline-block;
	margin: 10px;
}

#pagination button {
	background-color: white;
    color: black;
    float: left;
    text-decoration: none;
    border: 1px solid gray;
	padding: 5px;
	width: 30px;
	height: 30px;
}

#pagination button:first-of-type { /* закръгляне на първия бутон на пагинацията */
	border-radius: 10px 0 0 10px;
}

#pagination button:last-of-type { /* закръгляне на последния бутон на пагинацията */
	border-radius: 0 10px 10px 0;
}

#pagination button.activeButton {
    background-color: blue;
    color: white;
}

#pagination button:not(.activeButton):hover { /* ховър ефет на всички бутони освен активния */
	background-color: #26A9E1;
}

.readMoreButton {
	clear: both;
	float: left;
	width: 200px;
	margin-left: 40px;
	background-color: lightblue;
	border:2px solid blue;
	color: blue;
	font-size: 1.2em;
}

.readMoreButton:hover::after { /* добавяне на стрелки на бутона при hover */
	font-size: 0.5em;
	content: ' >>';
}

aside { /* в условието - Страничен <div> */
	float: right;
	background-color: white;
	border: 2px solid silver;
	width: 25%;
	border-radius: 30px;
	margin: 30px 30px 30px 0;
	padding: 20px;
}

aside tr td:first-child {
	width: 90px; 
}

aside td input[type=text] { /* рамка на всички input текст полета */
	width: 100%;
	border-color: red;
}

*[disabled=disabled] { /* смяна на курсора на всички елементи който са disabled */
	cursor: not-allowed;
}

aside td select {
	border-color: pink;
}
aside button {
	float: right;
}
